
html{
    font-size: 22px;
    background-color: blue
    

}
head{

  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
body{
    background-color:blueviolet;
    color: whitesmoke;
}

h1{
    color: white;
    background-color: grey;
}
h2{
    color:black;
    font-size: 12px;
}
p{
    color: rgb(128, 62, 0);
    font-family: 'Courier New';
    font-size: 24px;
}

#photo{
    border-width: 2px;
    color: solid blue;
}
h1{
    color: blue;

}
h2{
    color: grey;

}
div{
    margin: 4px;
}
@media screen add (max-width:600px){
    h1{
        font-size:36Px;
        line-height:50px;
    }
    .side-bar{
        width:0%;
        height:100vh;
        postion:absolute;
        right: 0;
        top: auto;
        bottom:0;
        align-items:center;
        justify-content: space-between;
        padding:0 10px;
    }
}
